<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @prcie_lists } %>
<div class="form-group">
  <%= f.field_container :brand do %>
    <%= f.label :brand %>
    <%= f.text_field :brand, class: 'form-control' %>
  <% end %>
</div>
